#header{
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .block{
            display: flex;
            justify-content: space-between;
            width: 350px;
            a{
                text-decoration: none;
                font-size: 26px;
                color: black;
            }
        }
    }
}